@charset "UTF-8";


/* ========BASIC======== */
html {
   overflow-y:scroll;
}

body {
   margin:0;
   padding:0;
   line-height:1.6;
   letter-spacing:1px;
   font-family:Verdana, Helvetica, sans-serif;
   color:#333;
   font-size:13px;
   background:#fff;
}

br {
   letter-spacing:normal;
}

a {
   color:#333;
   text-decoration:none;
}

a:hover {
   color:#008000;
   text-decoration:none;
}

img {
   border:0;
}

h1,h2,h3,h4,h5,h6 {
   margin:0;
}


/* ========TEMPLATE LAYOUT======== */
#container
{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#top {
   /*width:960px;*/
   margin:0 auto;
   background:#fff;
   border-top:5px solid #008F7C;
   border-bottom:5px solid #008F7C;
}

header {
   position:relative;
   /*width:960px;*/
   height:80px;
   background:#fff;
}

#menu {
   /*width:960px;*/
   background:#000;
}

#contents {
   clear:both;
   /*width:960px;*/
   margin-top:10px;
}

#main {
   float:left;
   margin:0 10px;
   width:700px;
}

#subL {
   float:left;
   width:180px;
}

#subR {
   float:left;
   width:180px;
}

footer {
   position:relative;
   clear:both;
   /*width:960px;*/
}

/* 回り込み解除 */
#contents:after {
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}


/* ========HEADER CUSTOMIZE======== */
#header h1 {
   margin:0;
   padding:0 10px;
   font-size:24px;
   color:#000;
   line-height:80px;
}

#header h1 a {
   color:#000;
}

#header h1 a:hover {
   color:#ddd;
}

#header .pr {
   position:absolute;
   top:10px;
   right:0;
}



/* ========MENU CUSTOMIZE======== */
#menu ul {
   margin:0;
   padding:0;
   background:url("images/bg_menu.gif") 0 50% repeat-x;
}

#menu li {
   float:left;
   color:#333;
   list-style-type:none;
}

#menu li a {
   display:block;
   margin-right:1px;
   padding:0 20px;
   line-height:2.5;
   color:#fff;
}

#menu li a:hover{
   color:#ddd;
}

/* 回り込み解除 */
#menu ul:after {
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}


/* ========MAIN CONTENTS CUSTOMIZE======== */
#main a {
   color:#008000;
}

#main a:hover {
   text-decoration:underline;
}

#main h2 {
   margin-bottom:5px;
   padding:2px 2px 2px 5px;
   font-size:15px;
   font-weight:bold;
   line-height:1.4;
   border-left:5px solid #000;
   background:url("images/bg_h2.gif");
}

#main h3 {
   margin-bottom:5px;
   font-size:13px;
   border-bottom:3px double #000;
}

#main h4 {
   margin-bottom:2px;
   padding:3px;
   font-size:13px;
   line-height:1.4;
   background:#ddd;
}

#main h5 {
   margin-bottom:2px;
   font-size:13px;
   line-height:1.4;
   border-bottom:2px solid #333;
}

#main h6 {
   margin-bottom:2px;
   font-size:13px;
   line-height:1.4;
}

#main p{
   margin:0 0 1em 0;
   line-height:1.4;
}

#main dd{
   padding:0;
   margin:0 0 1em 1em;
   padding:3px;
   background:#f1f1f1;
}


/* ========subL CONTENTS CUSTOMIZE======== */
#subL .section {
   background:#DEDDD0;
}

#subL h2 {
   padding:3px;
   font-size:14px;
   font-weight:bold;
   color:#fff;
   background:#49BC1D url("images/bg_sub_h2.gif") 0 50% repeat-x;
}

#subL ul {
   margin:0;
   padding:5px 0 1em 1em;
}

#subL li {
   margin:0;
   padding-left:18px;
   line-height:1.8;
   background:#DEDDD0 url("images/bg_list.gif") 0 6px no-repeat;
   list-style:none;
}


/* ========subR CONTENTS CUSTOMIZE======== */
#subR .pr {
   margin:10px 0;
   text-align:center;
}

#subR h2 {
   padding:3px;
   font-size:14px;
   font-weight:bold;
   color:#fff;
   background:#49BC1D url("images/bg_sub_h2.gif") 0 50% repeat-x;
}

#subR ul {
   margin:0;
   padding:5px 0 1em 1em;
}

#subR li {
   margin:0;
   padding-left:18px;
   line-height:1.8;
   background:#DEDDD0 url("images/bg_list.gif") 0 4px no-repeat;
   list-style:none;
}


/* ========PAGETOP CUSTOMIZE========= */
#pageTop {
   padding:10px;
   text-align:right;
}

#pageTop a {
   padding:0 0 0 12px;
   background:url("images/bg_pagetop.gif") 0 60% no-repeat;
}


/* ========FOOTER CUSTOMIZE======== */
.copyright {
   padding:20px 0;
   text-align:center;
   font-style:normal;
   font-size:11px;
   border-top:1px solid #ccc;
}

/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 20px 0 12px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }
/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    fieldset label {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }

    fieldset label.checkbox {
        display: inline;
    }

    fieldset input[type="text"],
    fieldset input[type="password"] {
        border: 1px solid #e2e2e2;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }

        fieldset input[type="text"]:focus,
        fieldset input[type="password"]:focus {
            border: 1px solid #7ac0da;
        }

    fieldset input[type="submit"] {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
    }

	fieldset select
	{
		margin-bottom: 5px;
		margin-top: 5px;
	}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


table.data-grid
{
	border-top: 1px solid #663300;
	border-left: 1px solid #663300;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #ffffff;
	empty-cells: show;
}

	table.data-grid tr.table-header
	{
	}

	table.data-grid tr.table-footer
	{
		background-color: #d3d3d3;
	}

	table.data-grid th
	{
		border-right: 1px solid #663300;
		border-bottom: 1px solid #663300;
		color: #330000;
		background-image: url(../images/table-back.gif);
		background-color: #996633;
		background-position: left top;
		padding: 0.3em 1em;
		text-align: center;
	}

	table.data-grid td
	{
		border-right: 1px solid #663300;
		border-bottom: 1px solid #663300;
		padding: 0.3em 1em;
	}
	
/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px)
{

	/* header
    ----------------------------------------------------------*/
	header .float-left,
	header .float-right
	{
		float: none;
	}

	/* logo */
	header .site-title
	{
		margin: 10px;
		text-align: center;
	}

	/* login */
	#login
	{
		font-size: .85em;
		margin: 0 0 12px;
		text-align: center;
	}

		#login ul
		{
			margin: 5px 0;
			padding: 0;
		}

		#login li
		{
			display: inline;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		#login a
		{
			background: none;
			color: #999;
			font-weight: 600;
			margin: 2px;
			padding: 0;
		}

			#login a:hover
			{
				color: #333;
			}

	/* menu */
	nav
	{
		margin-bottom: 5px;
	}

	ul#menu
	{
		margin: 0;
		padding: 0;
		text-align: center;
	}

		ul#menu li
		{
			margin: 0;
			padding: 0;
		}


	/* main layout
    ----------------------------------------------------------*/
	.main-content,
	.featured + .main-content
	{
		background-position: 10px 0;
	}

	.content-wrapper
	{
		padding-right: 10px;
		padding-left: 10px;
	}

	.featured .content-wrapper
	{
		padding: 10px;
	}

	/* page content */
	article, aside
	{
		float: none;
		width: 100%;
	}

	/* ordered list */
	ol.round
	{
		list-style-type: none;
		padding-left: 0;
	}

		ol.round li
		{
			padding-left: 10px;
			margin: 25px 0;
		}

			ol.round li.zero,
			ol.round li.one,
			ol.round li.two,
			ol.round li.three,
			ol.round li.four,
			ol.round li.five,
			ol.round li.six,
			ol.round li.seven,
			ol.round li.eight,
			ol.round li.nine
			{
				background: none;
			}

	/* features */
	section.feature
	{
		float: none;
		padding: 10px;
		width: auto;
	}

		section.feature img
		{
			color: #999;
			content: attr(alt);
			font-size: 1.5em;
			font-weight: 600;
		}

	/* forms */
	fieldset input[type="text"],
	fieldset input[type="password"]
	{
		width: 90%;
	}

	/* login page */
	#loginForm
	{
		border-right: none;
		float: none;
		width: auto;
	}

		#loginForm .validation-error
		{
			display: block;
			margin-left: 15px;
		}

	#socialLoginForm
	{
		margin-left: 0;
		float: none;
		width: auto;
	}

	/* footer
    ----------------------------------------------------------*/
	footer .float-left,
	footer .float-right
	{
		float: none;
	}

	footer
	{
		text-align: center;
		height: auto;
		padding: 10px 0;
	}

		footer p
		{
			margin: 0;
		}

	ul#social
	{
		padding: 0;
		margin: 0;
	}

	a.facebook, a.twitter
	{
		background: none;
		display: inline;
		float: none;
		padding-left: 0;
		text-indent: 0;
	}
}
